<p id="notice"><%= notice %></p>

<div class="text-center text-info">
  <h1>Games</h1>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Images</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td scope="row"><%= game.name %></td>
        <td>
          <% game.images.each do |image| %>
            <%= image_tag image.variant(resize: '50x50', monochrome: true).processed %>
          <% end %>
        </td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="text-center">
  <%= link_to 'New Game', new_game_path, class: "btn btn-info" %>
</div>